@font-face{
  font-family: Dean-font;
  src:url('../font/Chakra/ChakraPetch-Light.ttf');
}
body{
  font-family:Dean-font;
  margin-top: 200px;
  font-weight: bolder
}
.wrap{
  display: flex;
  justify-content: center;
  height: 100vh;
}
table{
    text-align: left;
  }

.w-160{
  width: 160px;
  opacity: 0.5;
}
.bg-date{
  background-color: gainsboro;
}
.w-80{
  width: 80px;
}
.btn-search{
  background-color: orangered;
  color: white;
  border: 1px solid orangered;
  border-radius: 4px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
}