@font-face{
    font-family: Dean-font;
    src:url('../font/Chakra/ChakraPetch-Light.ttf')
}
body{
    margin: 0px;
    font-family:Dean-font;
}
 
.wrap-friends{
    display: flex;
    flex-wrap: wrap;
    /* background-color: #355c7d; */
    justify-content: space-evenly;
    padding-top: 140px;
}
.wrap-friends > div{
    background-color: #ffffff; 
    height: 400px;
    width: 300px;
    margin:50px;
    text-align: center;
    
    border: 1px solid #cccccc;
}
div > .img-friends{
    /* position: relative;
    top:20%;
    left: 50%;
    transform: translate(-50%, -50%); */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}