@font-face{
    font-family: Dean-font;
    src: url('../font/Chakra/ChakraPetch-Light.ttf')
}
body{
    font-family: Dean-font;
    margin: 0px;
}
@media screen and (min-width:550px){
p{
    margin: 0;
}
a:link{
    text-decoration: none;
}
a:visited{
    color:#ffffff;
}
a:hover{
    color: darkgrey;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.5s;
}
a{
    color:#ffffff;
}
.py{
    padding-top: 15px;
    text-align: center;
}
.cover{
    height: 100vh;
    background-image: url('../photo/photo8.jpg');
    background-position: center;
    filter: blur(12px);
}
.cover:hover{
    opacity: 0.9;
    transition: .5s ease-in-out;
}
.box-text{
    display: flex;
    flex-direction: row;

    background-color: rgb(205, 196, 255);
    background-color: rgba(16, 18, 133, 0.1);
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #f1f1f1;
    position: absolute;
    top:50%;
    left:50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 20px;
    text-align: center;
    font-size: 12px;
}

.img-profile{
    margin: 15px 15px;
    border: solid 1px #ffffff;
    border-radius: 2px;
}
.img-profile:hover{
    opacity: 0.8;
    transition: .3s ease;
}
.box-text > .item1{
    text-align: left;
    width: 20vw;
    padding: 0 50px;
}
.box-text > .item2{
    text-align: left;
    width: 80vw;
    padding: 0 50px;
}
}