@font-face{
    font-family: DeanFont;
    src: url('../font/Chakra/ChakraPetch-Light.ttf')
}
body{
    margin: 0;
    font-family: DeanFont;
}
@media screen and (min-width:750px){

.txt-center{
    text-align: center;
}
.txt-left{
    text-align: left;
}
.container {
    display: flex;
    position: relative;
    top: 100px;
  
}

.container > div {
    width : 400px;
    height: 500px;
}

.nav{
    display: block;
    position: absolute;
    position: fixed;
    background-color: chartreuse;
    width: 100vw;
    height: 100px;
    text-align: center;
    z-index: 1;
}
.nav > .box1-1{
    display: block;
    height: 50px;
 
}
.box1-1 > .nav-icon{
    display: inline-block;
    margin: 15px 10px;
    width: 80px;
 
}
.nav > .box1-2{
    display: block;
    height: 50px;
 
}
.box1-2 > .nav-text{
    display: inline-block;
    margin: 5px 10px;
    width: 80px;
}
/* -------------------------------------------- */
.container > .box2{
    width:20vw;
    background-color: #ffffff;
}
.container > .box3{
    width:60vw;;
    height: 100vh;
}

.box3-1{
    height: 400px;
    padding: 40px 40px 0 40px;
}
.img-profile{
    border-radius: 50%;
    border:10px solid chartreuse;
    margin: 20px 20px 10px 20px;
}
 .img-gallery{
    border:10px solid chartreuse;

}
.img-profile:hover{
    opacity: 0.8;
    transition: .5s ease;
}
.img-gallery:hover{
    opacity: 0.8;
    transition: .5s ease-in;
}
.container > .box4{
    width:20vw;
    background-color: #ffffff;
}
/***********Bookink pageVVVVV****/
.wrap-booking{
    display: flex;
    justify-content: center;
    font-weight: bolder
  }
  .bg-form{
    padding: 10px;
  }
  .w-160{
    width: 160px;
    opacity: 0.5;
  }
  .bg-date{
    background-color: gainsboro;
  }
  .w-80{
    width: 80px;
  }
  .btn-search{
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
    border-radius: 4px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
  }
/***************/
/**************Phone Book ****************/
.wrap-phonebook{
    display: flex;
    justify-content: center;
  }
.table-tel{
    border-collapse: collapse;
     width:100%;
     color: red; 
}
.table-tel, .th-tel, .td-tel{
  text-align: left;
  border:gray 2px dotted;
  padding: 10px;
}
.th-tel{
  font-size: larger;
  font-weight: bolder;
}
.a-tel{
    color: red;
}
}
/* ----------------------------------------------------- */
.wrap-friends{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    top:140px;
}
.wrap-friends > div{
    background-color: #ffffff; 
    height: 400px;
    width: 300px;
    margin:10px;
    padding: 10px;
    text-align: center;
    /* border: 1px solid #cccccc; */
    border: 1px solid chartreuse;
}
@media screen and (max-width:749px){
    .nav{
        display: flex;
        position: absolute;
        background-color: chartreuse;
        width: 100vw;
        height: 200px;

    }
    .nav > .box1-1 {
        height: 200px;
        margin-left: 20px;
        margin-right: 10px;
        width: 50%;
    }
    .box1-1 > div{
        height: 40px;
        text-align: right;
    }
    .nav > .box1-2 {
        height: 200px;
        margin-left: 10px;
        margin-right: 10px;
        width: 50%;
    }
    .box1-2 > div{
        height: 40px;
    }
    .nav-text > a{
        padding: 10px;
    }
    .container-mobile{
        position: relative;
        top:200px;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 10px;
    }
    .table-tel{
        border-collapse: collapse;
         width:100%;
         color: red; 
    }
    .table-tel, .th-tel, .td-tel{
      text-align: left;
      /* width: 100vw; */
      border:gray 2px dotted;
      /* margin-left: 20px;
      margin-right: 20px; */
      padding: 10px;
    }
    .th-tel{
      font-size: larger;
      font-weight: bolder;
    }
    .a-tel{
        color: red;
    }
    .img-profile{
        width: 95%;
        height: auto;
        border: 2px solid chartreuse;
        padding: 10px;
    }
    .img-gallery{
        width: 95%;
        height: 320px;
        border: 2px solid chartreuse;
        padding: 10px;

    }
    /***********Bookink pageVVVVV****/
.wrap-booking{
    display: flex;
    justify-content: center;
    font-weight: bolder
  }
  .bg-form{
    padding: 10px;
  }
  .w-160{
    width: 160px;
    opacity: 0.5;
  }
  .bg-date{
    background-color: gainsboro;
  }
  .w-80{
    width: 80px;
  }
  .btn-search{
    background-color: orangered;
    color: white;
    border: 1px solid orangered;
    border-radius: 4px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
  }
/***************/
}/*End @media screen and (min-width:749)*/